.container
{
	margin-top: 70px;

}
body
{
	background-color: #be1e2d;
}
.col
{

}
.whiteboard
{
	background-color: white;
	border: 7px solid #ffcc66;
    border-radius: 10px;
    margin: 20px;
 	padding: 20px;
}
.instructor
{
	text-align: right;
}
.whiteboard-main
{
	padding: 0px;
}
footer
{
	color: white;
	background-color: #333;
	padding: 20px;
	border: 7px solid #333;
    border-radius: 10px;
}
.whiteboard-iframe
{
	background-color: white;
	padding: 60px;
}
iframe
{
	border: 0;
	width: 100vh;
	height: 50vh;
}
.whiteboard-nav
{
	background-color: white;
}
.nav-elem
{
	color: black;
}
.nav-elem:hover
{
	background-color: #e6e6e6;
	color: #333;
	border: 4px solid #e6e6e6;
    border-radius: 10px;
}
.nav-curr
{
	background-color: #e6e6e6;
	color: #333;
	border: 4px solid #e6e6e6;
    border-radius: 10px;
}
.gradebook
{
	padding: 50px;
}
.grades
{
	font-size: 30px;
	padding-bottom: 20px;
}
.ingrade
{
	padding-bottom: 10px;
}
.colorinput
{
	margin: 10px;
}
.assgn
{
	margin: 10px;
}